
{% extends "layout.njk" %}


{% block content %}
    
    <div class="card">  

        <section 
            class="image" 
            style ="background: url('{{students.avatar_url}}') no-repeat center center">
            
        </section>
        
        <section class="details">

            <form method="POST" action="/students?_method=PUT">
            <input type="hidden" name="id" value="{{students.id}}">
                <p> Editar Aluno</p>
                {% include 'students/fields.njk' %}
            </form>

            <form action="/students?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{students.id}}">
                <button id="delete" type="submit">Deletar</button>
            </form>
        
            </section>
        </div>

{% endblock content %}