
{% extends "layout.njk" %}


{% block content %}
    
    <div class="card">
        <section 
        class="image" 
        style ="background: url('https://source.unsplash.com/collection/11167123/500x600') no-repeat">
        </section>

        <section class="details">
            
            <div class="item">
                <div>Nome Completo</div>
                <div>Matheus Rodrigues Felizardo</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>24 anos</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Superior Completo</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div><span>Presencial</span> <span>À distância</span></div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div><span>Matemática</span><span>Física</span><span>Química</span></div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div><span>2020</span></div>
            </div>

        </section>
    </div>
{% endblock content %}