
{% extends "layout.njk" %}


{% block content %}
    
    

    <form class="card" method="POST" action="/teachers" >
   

        

        <section 
        class="image" 
        style ="background: url('') no-repeat">
        </section>

        <section class="details">
            
            <p> Novo Instrutor</p>

            {%include 'teacher-fields.njk'%}

        </section>
    </form>
{% endblock content %}