* {
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #03AAF7;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    padding: 38px;
    text-align: center;
    font-size: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header img {
    width: 150px;
}

header div {
    margin-left: 100px;
}


header a {
    
    color:  #03AAF7;
    font-weight: bold;
    position: relative;
}

header a + a{
    margin-left: 60px;
}

header a:hover {
    width: 0;
    color: #0C68A5;
    font-weight: bold;    
}

header a::after {

    content: "";
    width: 0;
    height: 2px;
    background-color: #0C68A5;
    position: absolute;
    left: 0;
    bottom: -4px;

}

header a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out;
    
}

/* == FORMATAÇÃO DO CARD == */

.card {
width: 900px;
background-color: white;
margin: 40px auto;
display: grid;
grid-template-columns: 1fr 1fr;
border-radius: 16px;
box-shadow: 3px 3px 5px #0C68A5;
animation: card 700ms ease-out;
}

@keyframes card {
    from {
        opacity: 0;
        transform: translateY(40px) 

    }

    to {
        opacity: 1;
    }
}


.image {
    border-radius: 16px 0 0 16px;
    background-clip: border-box ;
}

.details {
    background: #0C68A5;
    border-radius: 0 16px 16px 0;
}

.details .item:first-child {
    margin-top: 50px;
}

.details .item:last-child {
    margin-bottom: 50px;
}

.details .item {
    padding: 5px;
    margin: 10px 0 10px 50px;
}

.details .item div:nth-child(1) {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
}

.details .item div:nth-child(2) {
    font-size: 22px;
    color: white;
    font-weight: bold;
} 

div:nth-child(4) span{
    background: #ddfeff;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px;
    margin: 3px;
    color: #0C68A5;
    text-transform: uppercase;

}

div:nth-child(5) span{
    background: #ddfeff;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px;
    margin: 3px;
    color: #0C68A5;
    text-transform: uppercase;

}

div:nth-child(6) span{
    color: #ddfeff;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ddfeff;
    border-radius: 16px;
    margin-top: 1px;
    display: inline-block;

/* ANIMAÇÃO DO TEXTO - */
    animation: texto 700ms ease-out;
}

/* CONFIGURAÇÃO DA ANIMAÇÃO DO TEXTO */
@keyframes texto {

    from {
        opacity: 0;
    }   

    to {
        opacity: 1;
    }

}


/* === FORMATAÇÃO DO TEACHERS/CREATE === */

p {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

input[type=text], input[type=url], input[type=date] {
    width: 80%;
    padding: 6px;
    font-size: 18px;
    border-radius: 12px;
    margin-top: 2px;
    outline: none;
    padding-left: 12px; 
    color: #0C68A5;
    font-weight: 500;
}

button, a.button {
    display: flex;
    width: 90%;
    padding: 16px;
    margin: 40px auto 10px ;
    border-radius: 12px;
    background-color: #ddfeff ;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #0C68A5;
}

#salvar {
    background-color: #ddfeff;
    color: #0C68A5;
}
#delete {
    margin-top: 8px;
    background-color: #FF101F ;
    color: white;
}

.details .item #label label {
    font-size: 18px;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center ;
}

select {
    width: 84%;
    padding: 6px;
    
    border-radius: 12px;
    margin-top: 2px;
    outline: none;
    padding-left: 12px;
    font-size: 18px;
    color: #0C68A5;
    font-weight: 500;
   
}


.table-content {
    display: block;
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
    
}

td,th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

.table-content table {
    border-spacing: 0;
    
}

.table-content table th {
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
}

.table-content table td {
    font-size: 12px;
    text-transform: uppercase;
    color: #0C68A5;
    font-weight: 500;
}

.table-content table a {
    background-color: #0C68A5;
    padding: 6px;
    border-radius: 4px;
    color: white;
}

.table-content table th:last-child {
    text-align: center;
}

.table-content table td:last-child {
    text-align: center;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.table-content table span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#materias {
    background: #ddfeff;
    border-radius: 8px;
    font-size: 12px;
    padding: 6px;
    margin: 3px;
    color: #0C68A5;
    font-weight: bold;
    text-transform: uppercase;
}