<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% block title %}
        <title>PrivateLesson</title>
    {% endblock title %}


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    
    {% block styles %}
        <link rel="stylesheet" href="/styles/style.css">
    {% endblock styles %}
    
    

</head>

<body>  

    <div>
    <header>

            <img src="/assets/logo.jpg" alt="">
            <div class="links">
            <a href="/teachers" id="teacher">Teacher</a>
            <a href="/students" id="students">Students</a>
            </div>
    </header>

    {% block content %}
    {% endblock content %}
    
    </div>
    
    <footer class="footer"></footer> 
    <script src="/scripts/script.js"></script>
</body>

</html>